/* MASTER CSS FILE */
/* body{
  width:
} */

.navBarFlexContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  background-color: #0B1C34;
}

h1{
  font-size: 2em;
  font-family: playfair display, times, serif;
  color: #CAA092;
  padding: 20px;
}

.heroImageFlexContainer{
  display: flex;
  height: 800px;

  background-image: url('../stylesheets/media/imgs/A-J-Wedding-2018-0031-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.textFlexContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2A0B17;
}

h3{
  font-size: 1.6em;
  font-family: playfair display, times, serif;
  align-self: flex-start;
  padding: 20px 40px 20px 40px;
  color: #D0CBC5;
}

p{
  width: 700px;
  font-size: 1.2em;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.45em;
  color: #D0CBC5;
  padding:0 0 40px 0;
}
